@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'HelveticaNeue';
    src: url('../font/helveticaneue-webfont.eot');
    src: url('../font/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneue-webfont.woff') format('woff'),
    url('../font/helveticaneue-webfont.ttf') format('truetype'),
    url('../font/helveticaneue-webfont.svg#icons') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Helvetica';
    src: url('../font/helvetica-webfont.eot');
    src: url('../font/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helvetica-webfont.woff') format('woff'),
    url('../font/helvetica-webfont.ttf') format('truetype'),
    url('../font/helvetica-webfont.svg#icons') format('svg');
}

